In [1]:
import pandas as pd

In [6]:
train_file_path = r'C:\Users\91822\Desktop\git_hub\Machine-Learning-project-end-to-end\housing\artifact\data_ingestion\2023-01-17-21-38-53\ingested_data\train\housing.csv'

df = pd.read_csv(train_file_path)

In [7]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,NEAR OCEAN
1,-122.29,37.52,38.0,3767.0,603.0,1455.0,615.0,6.8787,386800.0,NEAR OCEAN
2,-117.70,33.54,4.0,4956.0,693.0,1802.0,625.0,7.9338,354700.0,<1H OCEAN
3,-119.06,34.36,52.0,1409.0,359.0,981.0,304.0,2.7951,199300.0,<1H OCEAN
4,-118.62,34.06,25.0,3546.0,584.0,1530.0,601.0,7.4001,500001.0,NEAR OCEAN

In [8]:
df.shape

(16512, 10)

In [17]:
df['median_house_value']

0        103000.0
1        386800.0
2        354700.0
3        199300.0
4        500001.0
           ...
16507    162100.0
16508    227300.0
16509    335200.0
16510    116700.0
16511     81000.0
Name: median_house_value, Length: 16512, dtype: float64

In [18]:
x = df.drop('median_house_value',1)

In [19]:
y = df[['median_house_value']]

In [20]:
x.shape

(16512, 9)

In [21]:
y.shape

(16512, 1)

In [22]:
x

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,NEAR OCEAN
1,-122.29,37.52,38.0,3767.0,603.0,1455.0,615.0,6.8787,NEAR OCEAN
2,-117.70,33.54,4.0,4956.0,693.0,1802.0,625.0,7.9338,<1H OCEAN
3,-119.06,34.36,52.0,1409.0,359.0,981.0,304.0,2.7951,<1H OCEAN
4,-118.62,34.06,25.0,3546.0,584.0,1530.0,601.0,7.4001,NEAR OCEAN
...,...,...,...,...,...,...,...,...,...
16507,-121.36,38.04,4.0,2477.0,359.0,1234.0,377.0,5.5427,INLAND
16508,-121.96,37.30,20.0,4228.0,1006.0,2334.0,1007.0,4.3081,<1H OCEAN
16509,-122.02,37.36,24.0,1709.0,437.0,892.0,408.0,4.9671,<1H OCEAN
16510,-122.25,37.80,36.0,1678.0,606.0,1645.0,543.0,2.2303,NEAR BAY
16511,-116.48,33.94,10.0,3254.0,913.0,923.0,486.0,1.8000,INLAND

In [24]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        175
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [26]:
from sklearn.impute import SimpleImputer


imputer = SimpleImputer(strategy='median')

In [27]:
num_col =x.drop('ocean_proximity',1)

In [28]:
num_col

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596
1,-122.29,37.52,38.0,3767.0,603.0,1455.0,615.0,6.8787
2,-117.70,33.54,4.0,4956.0,693.0,1802.0,625.0,7.9338
3,-119.06,34.36,52.0,1409.0,359.0,981.0,304.0,2.7951
4,-118.62,34.06,25.0,3546.0,584.0,1530.0,601.0,7.4001
...,...,...,...,...,...,...,...,...
16507,-121.36,38.04,4.0,2477.0,359.0,1234.0,377.0,5.5427
16508,-121.96,37.30,20.0,4228.0,1006.0,2334.0,1007.0,4.3081
16509,-122.02,37.36,24.0,1709.0,437.0,892.0,408.0,4.9671
16510,-122.25,37.80,36.0,1678.0,606.0,1645.0,543.0,2.2303
16511,-116.48,33.94,10.0,3254.0,913.0,923.0,486.0,1.8000

In [30]:
df =imputer.fit_transform(num_col)

In [32]:
df

array([[-1.1703e+02,  3.2710e+01,  3.3000e+01, ...,  2.3000e+03,
         6.2300e+02,  3.2596e+00],
       [-1.2229e+02,  3.7520e+01,  3.8000e+01, ...,  1.4550e+03,
         6.1500e+02,  6.8787e+00],
       [-1.1770e+02,  3.3540e+01,  4.0000e+00, ...,  1.8020e+03,
         6.2500e+02,  7.9338e+00],
       ...,
       [-1.2202e+02,  3.7360e+01,  2.4000e+01, ...,  8.9200e+02,
         4.0800e+02,  4.9671e+00],
       [-1.2225e+02,  3.7800e+01,  3.6000e+01, ...,  1.6450e+03,
         5.4300e+02,  2.2303e+00],
       [-1.1648e+02,  3.3940e+01,  1.0000e+01, ...,  9.2300e+02,
         4.8600e+02,  1.8000e+00]])

In [33]:
imputer.feature_names_in_

array(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income'],
      dtype=object)

In [34]:
imputer.statistics_

array([-119.5857655 ,   35.64429142,   28.60428779, 2642.80220446,
        539.20646386, 1430.81940407,  501.21402616,    3.87499532])

In [37]:
x.longitude.median()

-118.51

In [38]:
x.ocean_proximity

0        NEAR OCEAN
1        NEAR OCEAN
2         <1H OCEAN
3         <1H OCEAN
4        NEAR OCEAN
            ...
16507        INLAND
16508     <1H OCEAN
16509     <1H OCEAN
16510      NEAR BAY
16511        INLAND
Name: ocean_proximity, Length: 16512, dtype: object

In [39]:
x.ocean_proximity.value_counts()

<1H OCEAN     7268
INLAND        5220
NEAR OCEAN    2146
NEAR BAY      1873
ISLAND           5
Name: ocean_proximity, dtype: int64

In [40]:

imputer = SimpleImputer(strategy='most_frequent')

In [ ]:
class FeatureGenerator():
    pass

    def __init__(self,strategy = 'median') -> None:
        self.strategy = strategy


    def fit(self,X):
        self.features_ = X.columns
        self.statistic = []
        for column in X.columns:
            self.statistic_.append(X[column].median())

    def transform(self,X):
        for column in X.columns:
            X[column].fillna()

    def fit_transform(self,X):
        pass

In [ ]:
for idx,column in enumerate(x,columns):
    print()